@{
    ViewBag.Title = "Product Listing";
    var pagedList = (IPagedList)ViewBag.category;
}

@using Illustration.Models
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common


<!-- import the included stylesheet for some (very basic) default styling -->
<link href="~/AdminPanel/assets/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    int? count = (ViewBag.pageNumber - 1) * ViewBag.pageSize;
    count++;
}
<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="d-flex justify-content-between">
                <h6 class="mb-4">Category Table</h6>
                <a style="color:red;" asp-action="Create" asp-controller="Category" type="button" class="btn btn-dark mb-4">Create</a>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Category category in ViewBag.category)
                        {
                            <tr>
                                <th class="pt-4" scope="row">@count</th>
                                <td class="pt-4">@category.Name</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id" type="button" class="btn btn-success rounded-pill m-2">Edit</a>
                                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id" type="button" class="btn btn-danger rounded-pill m-2 slider-delete-btn">Delete</a>
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    @Html.PagedListPager(pagedList, page => Url.Action("Index",
                    new { page =page,
                    search = ViewBag.search}))
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blank End -->
