
@model DetailViewModel

@{
    int count = 0;
}
    <main>
        <section id="mydetailmainsection">
             <h1>DETAIL</h1>
        </section>

        <section style="display: flex;justify-content: center;">
            <div style="width: 80%; border: none;" class="card">
                <div class="row g-0">
                  <div class="col-5 col-sm-4">
                    <img src="~/Uploads/Portraits/@Model.Portrait.PortraitImages.FirstOrDefault(x=>x.ImageStatus==true).Image" class="img-fluid w-100" alt="card-horizontal-image">
                     <div style="padding-top: 2rem;" class="card-group">
                        
                            @foreach (var item in @Model.Portrait.PortraitImages.FindAll(x=>x.ImageStatus==false))
                            {
                              <div class="card">
                                <img style="height:100%;" src="~/Uploads/Portraits/@item.Image" class="card-img-top" alt="card-group-image">
                              </div>
                            }
                          
                     
                      </div>
                  </div>
                  <div class="col-7 col-sm-8">
                    <div class="card-body">
                      <h2 class="card-title">@Model.Portrait.Name</h2>
                      <p>
                       @for (var i = 1; i <= 5; i++)
                       {
                         <span class="simple-star fa fa-star @(Model.Portrait.AvgRate>=i?"checked":"")"></span>
                       }
                        @*<span class="simple-star fa fa-star checked"></span>
                        <span class="simple-star fa fa-star checked"></span>
                        <span class="simple-star fa fa-star checked"></span>
                        <span class="simple-star fa fa-star"></span>
                        <span class="simple-star fa fa-star"></span>*@
                      </p>
                      <p class="card-text"><small class="text-muted">$@Model.Portrait.SalePrice</small></p>
                     @* @if (Model.User.Id != Model.Portrait.AppUserId)
                      {*@
                            <div class="btn-2">
                                <a asp-controller="Account" asp-action="Order" asp-route-id="@Model.Portrait.Id"><span>Complete Order</span></a>
                            </div>
                     @* }*@
                      <div>
                        <h4 style="color: #212529;padding-top: 2rem;">Info</h4>
                        <p style="color: #6c6c6c;" class="card-text">@Model.Portrait.Info</p>
                      </div>
                      <!-- Tabs or Pills can be used in a card with the help of .nav-{tabs|pills} and .card-header-{tabs|pills} classes -->
                        <div style="border: none;padding-top: 3rem;" class="card">
                            <div style="background-color: white;" class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                <a style="color: black;" class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                <a style="color: black;" class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Aditional Information</a>
                                </li>
                                <li class="nav-item">
                                <a style="color: black;" class="nav-link" id="disabled-tab" data-bs-toggle="tab" href="#disabled" role="tab" aria-controls="disabled" tabindex="-1" aria-disabled="true">Reviews</a>
                                </li>
                            </ul>
                            </div>
                            <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">@Model.Portrait.Desc</div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div>
                                        <button style="height: 6rem;
                                        width: 15rem;
                                    background-color: white;border-color: #cdcdcd;">Weight</button>
                                    <button style="height: 6rem;
                                    width: 15rem;
                                    background-color: white;border-color: #cdcdcd;margin-left: -5px;">@Model.Portrait.Weight lbs</button>
                                    </div>
                                   <div>
                                    <button style="height: 6rem;
                                    width: 15rem;
                                    background-color: white;border-color: #cdcdcd;">Dimention</button>
                                    <button style="height: 6rem;
                                    width: 15rem;
                                    background-color: white;border-color: #cdcdcd;margin-left: -5px;">20 x @Model.Portrait.Dimention in</button>
                                   </div>
                                </div>
                                <div class="tab-pane fade" id="disabled" role="tabpanel" aria-labelledby="disabled-tab">
                                    <h5>@Model.Reviews.Count review for @Model.Portrait.Name</h5>
                                    @foreach (var item in Model.Reviews)
                                    {
                                            <div style="border: none; padding-top: 2rem;" class="card">
                                                <div class="row g-0">
                                                    <div class="col-2 col-sm-2">
                                                        <img style="width: 100% !important;" src="~/Uploads/Users/@(item.AppUser.Image?? "4f64c9f81bb0d4ee969aaf7b4a5a6f40.png")" class="img-fluid w-100" alt="card-horizontal-image">
                                                    </div>
                                                    <div class="col-10 col-sm-10">
                                                        <div style="position: relative;" class="card-body">
                                                            <h5 style="margin-bottom: -11px;" class="card-title">@(item.Fullname==null?item.AppUser.Fullname:item.Fullname)</h5>
                                                            <p class="card-text"><small style="font-size:13px; margin-top:-1rem;" class="text-muted">@item.CreatAt</small></p>
                                                            <div style="display: flex;
                                                            justify-content: end;
                                                            position: absolute;
                                                            margin-left: 25rem;
                                                            margin-top: -4rem;">
                                                                @for (var i = 1; i <= 5; i++)
                                                                {
                                                                    <span class="simple-star fa fa-star @(item.Raiting>=i?"checked":"")"></span>
                                                                }
                                                               @* <span class="simple-star fa fa-star checked"></span>
                                                                <span class="simple-star fa fa-star checked"></span>
                                                                <span class="simple-star fa fa-star checked"></span>
                                                                <span class="simple-star fa fa-star"></span>
                                                                <span class="simple-star fa fa-star"></span>*@
                                                            </div>

                                                            <span>@item.Message</span>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                    }
                                   
                                    <hr>
                                    <h4 style="color: #212529;padding-top: 2rem;">Add a Review</h4>
                                    <h5 style="color: #212529;padding-top: 2rem;">Your Raiting</h5>
                                    @await Html.PartialAsync("_reviewPartial",Model.Review)
                                   
                                </div>
                            </div>
                            </div>
                        </div>
                      
                    </div>
                    </div>
                  </div>
                </div>
              </div>
        </section>
        <hr style="margin-top: 7rem;" class="container">
        <section id="detail-product-section">
            
            <div class="row row-cols-4 fix-row-x headline container">
            @foreach (var item in Model.Portraits)
            {
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="card mx-3 cards-border portret-image-hover">
                        <a asp-controller="Portrait" asp-action="Detail" asp-route-id="@item.Id"><img src="~/Uploads/Portraits/@item.PortraitImages.FirstOrDefault(x=>x.ImageStatus==true).Image" class="card-img-top" alt="card-group-image"></a>
                        <a asp-controller="Portrait" asp-action="AddToWishList" asp-route-id="@item.Id" class="my-add-hover add-to-wishlist"><span>Add To Wish List</span></a>
                        <div class="card-body card-texts">
                            <h5 class="card-title">@item.Name</h5>
                            @foreach (var item2 in item.PortraitCategories)
                            {
                                <small>@item2.Category.Name @(item.PortraitCategories.Count - 1 > count ? "," : "")</small>
                                count++;
                            }
                            @if (item.DiscountPercent > 0)
                            {
                                <p class="card-text card-prices"><s style="color:#818181;">$@item.SalePrice</s> $@(((item.SalePrice * (100 - item.DiscountPercent) / 100)).ToString("0.00"))</p>
                            }
                            else
                            {
                                <p class="card-text card-prices">$@item.SalePrice</p>
                            }
                        </div>
                    </div>
                </div>
                count = 0;
            }
            
            </div>
        </section>
    </main>
