
@model List<WishListItem>

<div class="row">
    <div class="d-flex justify-content-between">
        <h3>All Wish List Portraits<span>( @Model.Count )</span></h3>
    </div>
    <hr />
    @foreach (var item in Model)
    {
        <div style="border-bottom: 1px solid black;padding: 3rem;align-items: center;text-align: center;" class="row row-cols-6">
            <a style="color:black;" asp-controller="Account" asp-action="DeleteToWishList" asp-route-id="@item.Portrait.Id"><i style="font-size: 165%;" class="las la-times"></i></a>
            <img src="~/Uploads/Portraits/@item.Portrait.PortraitImages.FirstOrDefault(x=>x.ImageStatus==true).Image" alt="">
            <h3>@item.Portrait.Name</h3>
            <div></div>
            <div>@item.Portrait.SalePrice$</div>
            <div><a asp-controller="Portrait" asp-action="Detail" asp-route-id="@item.Portrait.Id" style="width:130%;" class="btn btn-dark">Buy</a></div>
        </div>
    }
</div>