@using Illustration.Enum

@model List<Order>

@foreach (var item in Model)
{
    <tr>

        <td>
            <span class="pl-2">@item.AppUser.Fullname</span>
        </td>
        <td> $@(((item.Portrait.SalePrice * (100 - item.Portrait.DiscountPercent) / 100)).ToString("0.00")) </td>
        <td> @item.Portrait.Name </td>
        <td> @item.CreatAt </td>
        <td>
            <div class="badge bg-dark">@item.Status</div>
        </td>
        @if (item.Status != OrderStatus.Pending)
        {
            <td>
                <button type="button" class="btn btn-dark disabled">Edit</button>
            </td>
        }
        else
        {
            <td>
                <a asp-action="SaleOrderEdit" asp-route-id="@item.Id" type="button" class="btn btn-dark">Edit</a>
            </td>
        }

    </tr>
}