
@model List<Portrait>

<div class="wrapper">
    <div class="d-flex justify-content-between">
        <h3>All Portraits<span>( @Model.Count )</span></h3>
        <a asp-action="Create" class="btn btn-dark">Add Portrait</a>
    </div>
    <hr />

    <div id="portraitcontainerforloadmore" style="width: 109%;" class="cards">
        @foreach (var portrait in Model)
        {
            if (portrait.StockStatus)
            {
                <figure class="card">

                    <img src="~/Uploads/Portraits/@portrait.PortraitImages.FirstOrDefault(x=>x.ImageStatus==true).Image" />

                    <figcaption><a asp-controller="Auktion" asp-action="Index" asp-route-id="@portrait.Id"><i class="las la-gavel"></i></a><a asp-controller="Portrait" asp-action="Detail" asp-route-id="@portrait.Id"><i class="las la-info-circle"></i></a> <a asp-action="Edit" asp-route-id="@portrait.Id"><i style="line-height: unset;" class="las la-pen"></i></a><a class="myaccount-delete-icon-a" asp-action="Delete" asp-route-id="@portrait.Id"><i style="line-height: unset;" class="las la-minus-circle"></i></a></figcaption>

                </figure>
            }

        }


        @*       <figure class="card">

        <img src="~/assets/images/realistic1.jpg" />

        <figcaption><a href="#"><i class="las la-info-circle"></i></a> <a href="#"><i style="line-height: unset;" class="las la-pen"></i></a><a id="myaccount-delete-icon-a" href="#"><i style="line-height: unset;" class="las la-minus-circle"></i></a></figcaption>

        </figure>

        <figure class="card">

        <img src="~/assets/images/batman2.jpg" />

        <figcaption><a href="#"><i class="las la-info-circle"></i></a> <a href="#"><i style="line-height: unset;" class="las la-pen"></i></a><a id="myaccount-delete-icon-a" href="#"><i style="line-height: unset;" class="las la-minus-circle"></i></a></figcaption>

        </figure>*@


    </div>



</div>