@model Order



<main>
    <section style="background-color: #131313;position: relative;bottom: 3.5rem;">
        <h1 class="container" style="max-width: 90%;">Sale Portrait</h1>
    </section>
    <section style="display: flex;justify-content: center;">
        <div style="width: 50%;padding-top: 2%;" class="card align-items-center">
            <img style="width:43%;" class="card-img-top" src="~/Uploads/Portraits/@Model.Portrait.PortraitImages.FirstOrDefault(x=>x.ImageStatus==true)?.Image" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Portrait: @Model.Portrait.Name</h5>
                <p style="color:black">Client: @Model.AppUser.Fullname</p>
                <p style="color:black">Price: $@(Model.Portrait.SalePrice - (Model.Portrait.SalePrice * (Model.Portrait.DiscountPercent / 100)))</p>
                <p style="color:black">Order Create Time: @Model.CreatAt</p>
                <span>Order Status: <div class="badge bg-dark">@Model.Status</div></span>
                <p style="padding-top:10%">
                    <a asp-action="Approve" asp-route-id="@Model.Id" class="btn btn-dark">Approve</a>
                    <a asp-action="Reject" asp-route-id="@Model.Id" class="btn btn-dark">Reject</a>
                </p>
            </div>
        </div>
    </section>
</main>

