
@model ShopViewModel

@{
    int count = 0;
}

<style>

    .toast-success {
        background-color: black !important;
    }
</style>

    <main>
        <section id="mydetailmainsection">
             <h1>Shop</h1>
        </section>
        <section class="container">
            <div class="row">
                <div class="col-md-8">
                    <div style="width: 98%;" class="d-flex justify-content-between">
                        <h6 class="my-shop-h6">SHOWING 1–9 OF @Model.Portraits.Count RESULTS</h6>
                        <form id="sort-form" class="my-first-shop-form" method="get">
                            <select onchange="this.form.submit()" name="sort" class="form-select my-shop-select-frist" aria-label="Default select">
                                <option selected="">Default Sorting <i style="color: #ababab" class="las la-angle-down"></i></option>
                                <option value="AtoZ">Sort by name (A-Z)</option>
                                <option value="ZtoA">Sort by name (Z-A)</option>
                                <option value="LowtoHigh">Sort by price: low to high</option>
                                <option value="HightoLow">Sort by price: high to low</option>
                            </select>
@*                            <select onchange="this.form.submit()" form="filter-form" name="sort" class="nice-select">
                                <option>Default Sorting</option>
                                <option value="AtoZ">Sort by name (A-Z)</option>
                                <option value="ZtoA">Sort by name (Z-A)</option>
                                <option value="LowtoHigh">Sort by price: low to high</option>
                                <option value="HightoLow">Sort by price: high to low</option>
                            </select>*@
                        </form>    
                    </div>
                    <div id="myportretsections" class="row row-cols-3 fix-row-x headline">
                    @*    @foreach (var item in Model.Portraits)
                        {
                            <div class="col">
                                <div class="card mx-3 cards-border portret-image-hover">
                                    <a asp-controller="Portrait" asp-action="Detail" asp-route-id="@item.Id"><img src="~/Uploads/Portraits/@item.PortraitImages.FirstOrDefault(x=>x.ImageStatus==true).Image" class="card-img-top" alt="card-group-image"></a>
                                <a asp-controller="Portrait" asp-action="AddToWishList" asp-route-id="@item.Id" class="my-add-hover add-to-wishlist"><span>Add To Wish List</span></a>
                                    <div class="card-body card-texts">
                                        <h5 class="card-title">@item.Name</h5>
                                        @foreach (var item2 in item.PortraitCategories)
                                        {
                                            <small>@item2.Category.Name @(item.PortraitCategories.Count - 1 > count ? "," : "")</small>
                                            count++;
                                        }
                                        <p class="card-text card-prices">$@item.SalePrice</p>
                                    </div>
                                </div>
                            </div>
                            count = 0;
                        }*@

                        @await Html.PartialAsync("_shopProductsPartial",Model.Portraits)
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Search</h5>
                    <hr>
                    <form method="get" id="searchform">
                        <div class="search__container">
                            <input name="search" style="margin-bottom: 3rem;" class="search__input" type="text" placeholder="Search">
                        </div>                        
                    </form>
                  
                    <h5>Filter by Price</h5>
                    <hr>
                    <input name="minPrice" form="sort-form" type="hidden" id="minPriceInput" value="@ViewBag.SelectedMinPrice" />
                    <input name="maxPrice" form="sort-form" type="hidden" id="maxPriceInput" value="@ViewBag.SelectedMaxPrice" />
                    <div class="price-range-slider">
                        <p class="range-value">
                          <input type="text" id="amount" readonly>
                        </p>
                        <div id="slider-range" class="range-bar"></div>
                    </div>
                   <div style="height: 15%;" class="buttons">
                    <button form="sort-form" type="submit" style="margin-top: 3rem;" class="blob-btn">
                        Filter
                        <span class="blob-btn__inner">
                            <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            </span>
                        </span>
                        </button>
                        <br>
                    
                         <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                        </defs>
                        </svg>
                   </div>
                   <h5>Product Categories</h5>
                   <hr>
                   @foreach (var item in Model.Categories)
                   {
                    <h5 class="my-shop-categories-h5"><a asp-action="Index" asp-route-categoriId="@item.Id" class="my-shop-categories">@item.Name</a></h5>
                   }
                   <h5 style="padding-top:4rem;">Tags</h5>
                   <hr>
                   <!-- flex-wrap can be used for responsive cases as well with the help of .flex-{sm|md|lg|xl|xxl}-wrap class -->
                    <div style="padding-bottom: 3rem;" class="d-flex flex-wrap bd-highlight">
                        @foreach (var item in Model.Tags)
                        {
                         <a style="text-decoration:none;" asp-action="Index" asp-route-TagId="@item.Id"><div class="my-shop-Tags p-2 bd-highlight">@item.Name</div></a>
                        }
                    </div>
                    <h5>Folow us</h5>
                    <hr>
                    <div id="my-shop-icons-div">
                        <i class="lab la-twitter"></i>
                        <i class="lab la-facebook-f"></i>
                        <i class="lab la-instagram"></i>
                        <i class="lab la-linkedin-in"></i>
                    </div>
                   
                </div>
            </div>
        </section>
    </main>

    @section scripts{
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: @Model.MinPrice,
                max: @Model.MaxPrice,
                values: [@ViewBag.SelectedMinPrice, @ViewBag.SelectedMaxPrice],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }, change: function (event, ui) {
                    $("#minPriceInput").val(ui.values[0]);
                    $("#maxPriceInput").val(ui.values[1]);
                }
            });
            $("#amount").val(
                "$" +
                $("#slider-range").slider("values", 0) +
                " - $" +
                $("#slider-range").slider("values", 1)
            );
        });
                //$(function () {
                //    $("#slider-range").slider({
                //        range: true,
                //        min: @Model.MinPrice,
                //        max: @Model.MaxPrice,
                //        values: [ViewBag.SelectedMinPrice, ViewBag.SelectedMaxPrice],
                //        slide: function (event, ui) {
                //            $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                //        }
                //    });
                //    $("#amount").val(
                //        "$" +
                //        $("#slider-range").slider("values", 0) +
                //        " - $" +
                //        $("#slider-range").slider("values", 1)
                //    );
                //});
    </script>
    }
   