@using Microsoft.AspNetCore.Identity
@model AuktionViewModel

@inject UserManager<AppUser> _userManager

<link rel="stylesheet" href="~/assets/css/Auction.css">
@{

   AppUser user = await _userManager.FindByNameAsync(User.Identity.Name);
  
}

    <style>
        .chat-online {
            color: #34ce57
        }

        .chat-offline {
            color: red
        }

        .chat-messages {
            display: flex;
            flex-direction: column;
            max-height: 30.5rem;
            overflow-y: scroll
        }

        .chat-message-left,
        .chat-message-right {
            display: flex;
            flex-shrink: 0
        }

        .chat-message-left {
            margin-right: auto
        }

        .chat-message-right {
            flex-direction: row-reverse;
            margin-left: auto
        }

        .py-3 {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }

        .px-4 {
            padding-right: 1.5rem !important;
            padding-left: 1.5rem !important;
        }

        .flex-grow-0 {
            flex-grow: 0 !important;
        }

        .border-top {
            border-top: 1px solid #dee2e6 !important;
        }
    </style>

    <main>
        <section style="margin-bottom: -4rem;" id="myauctionmainsection">
            <h1>Auktion</h1>
        </section>
        <section class="container">
            <div style="--bs-gutter-x:0;" class="row row-cols-1">
                <div class="col d-flex justify-content-center pt-5">
                <img style="width: 30%;" src="~/Uploads/Portraits/@Model.Portrait.PortraitImages.FirstOrDefault(x=>x.ImageStatus==true).Image" alt="">
                </div>
                <div style="text-align: center;" class="col pt-3">
                    <h3>@Model.Portrait.Name</h3>
                    <h4>$@Model.Portrait.SalePrice</h4>
                    <small>@Model.Portrait.Info....</small>
                    <hr>
                    <small style="color:#565656;">@Model.Portrait.CreatAt</small>
                </div>
                <div class="col pt-3">
                    <main class="content">
                        <div class="container p-0">
                            <h1 class="h3 mb-3">Messages</h1>
                            <div class="card">
                                <div class="row g-0">
                                    <div style="overflow-y: scroll;height: 35rem;" class="col-12 col-lg-5 col-xl-3 border-right">
                                       @* <div class="px-4 d-none d-md-block">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-grow-1">
                                                   <input id="my-auktion-inputer" type="text" onkeyup="auktionSearchFunction()" class="form-control my-3" placeholder="Search...">                                             
                                                </div>
                                            </div>
                                        </div>*@
                                        <div>
                                            @foreach (var item in Model.AppUsers)
                                            {
                                                if (item.UserName != User.Identity.Name)
                                                {
                                                    <a href="#" class="list-group-item list-group-item-action border-0">
                                                        <div class="d-flex align-items-start">
                                                            <img src="~/Uploads/Users/@(item.Image==null?"4f64c9f81bb0d4ee969aaf7b4a5a6f40.png":item.Image)" class="rounded-circle mr-1" alt="@item.Fullname" width="40" height="40">
                                                            <div style="margin-left: 1rem;" class="flex-grow-1 ml-3">
                                                                @item.UserName
                                                                <div id="user-@item.Id" class="small"><span class="fas fa-circle chat-@(item.ConnectionId==null?"offline":"online")"></span><b>@(item.ConnectionId == null ? "Offline" : "Online")</b></div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                }

                                            }
                                        </div>
                                           
                                        <hr class="d-block d-lg-none mt-1 mb-0">
                                    </div>
                                    <div class="col-12 col-lg-7 col-xl-9">
                                        <div style="height: 88%;" class="position-relative">
                                            <div id="groupmessageinboxconfirm" style="height: 100%;" class="chat-messages p-4">
                                                @foreach (var item in Model.GroupMessages)
                                                {
                                                    if (item.AppUser.UserName == User.Identity.Name)
                                                    {
                                                        <div class="chat-message-right pb-4">
                                                            <div class="ms-2">
                                                            <img src="~/Uploads/Users/@(item.AppUser.Image==null?"4f64c9f81bb0d4ee969aaf7b4a5a6f40.png":item.AppUser.Image)" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                                            </div>
                                                            <div style="display: flex;align-items: center;" class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                                                @item.Text
                                                            </div>
                                                        </div>
                                                    }
                                                    else{
                                                        <div class="chat-message-left pb-4">
                                                            <div class="me-2">
                                                            <img src="~/Uploads/Users/@(item.AppUser.Image==null?"4f64c9f81bb0d4ee969aaf7b4a5a6f40.png":item.AppUser.Image)" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                                            </div>
                                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                                                <div style="font-family:cursive;" class="font-weight-bold mb-1">@item.AppUser.UserName</div>
                                                                @item.Text
                                                            </div>
                                                        </div>

                                                    }
                                                }

                                   
                                                <img id="mysoldimageid" style="position: absolute; display:none;" src="~/assets/images/sold3.png" alt="">
                                            </div>
                                        </div>

                                        <div class="flex-grow-0 py-3 px-4 border-top d-flex">
                                            <div style="width: 90%;" class="input-group">
                                                <input id="groupmessageinput" type="text" class="form-control" placeholder="Type your message">
                                                <button id="groupMessageSenderinmine" class="btn btn-dark">Send</button>
                                            </div>
                                            <i id="myportraitoffer" style="font-size: 243%;margin-left: 4%;cursor: pointer;" class="las la-hand-paper"></i>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </section>
    </main>
   <input id="mysignalrinputname" type="hidden" value="@User.Identity.Name" />
   <input id="mysignalrinputimage" type="hidden" value="@user.Image" />
   <input id="offervalue2formy" type="hidden" value="@((decimal)(Model.Portrait.SalePrice * 5 / 100))" />
@section Scripts{
    <script>
       
        let connection = new signalR.HubConnectionBuilder().withUrl("/illustratorhub").build();

        connection.start().then(function () {

        })

        connection.on("SetAsOffline", function (userId) {

            $("#user-" + userId + " span").removeClass("chat-online");
            $("#user-" + userId + " span").addClass("chat-offline");
            $("#user-" + userId + " b").html("Offline");
        })
        connection.on("SetAsOnline", function (userId) {
            $("#user-" + userId + " span").removeClass("chat-offline");
            $("#user-" + userId + " span").addClass("chat-online");
            $("#user-" + userId + " b").html("Online");
        })

        document.getElementById("groupMessageSenderinmine").addEventListener("click", function (e) {
            e.preventDefault();
            var message = document.getElementById("groupmessageinput").value;
            var name = $("#mysignalrinputname").val();
            var image = $("#mysignalrinputimage").val();
          
            connection.invoke("SendGroupMessage", name, message, image);

            var link = `/Auktion/GroupMessageSend?MyMessage=${message}`

            fetch(link)
                .then(response => {
                    return response.text();
                }).then(html => {

                })
        })

        connection.on("GroupMessagee", function (name, message, image) {
            var destination = document.getElementById("groupmessageinboxconfirm");
            if(image.length === 0){
                image = "4f64c9f81bb0d4ee969aaf7b4a5a6f40.png";
            }
            destination.innerHTML += ` <div class="chat-message-right pb-4">
                                                        <div class="ms-2">
                                                              <img src="/Uploads/Users/${image}" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                                        </div>
                                                        <div style="display: flex;align-items: center;" class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                                           ${message}
                                                        </div>
                                                    </div>
                        `
            document.getElementById('groupmessageinput').value = "";
        })


        connection.on("GroupMessage", function (name, message, image) {
            var destination = document.getElementById("groupmessageinboxconfirm");
            if (image.length === 0) {
                image = "4f64c9f81bb0d4ee969aaf7b4a5a6f40.png";
            }
            destination.innerHTML += `  <div class="chat-message-left pb-4">
                                                        <div class="me-2">
                                                               <img src="/Uploads/Users/${image}" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                                        </div>
                                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                                             <div style="font-family:cursive;" class="font-weight-bold mb-1">${name}</div>
                                                            ${message}
                                                        </div>
                                                    </div>
                        `
        })
        var timeoutId;
        let offer = 0;
        document.getElementById("myportraitoffer").addEventListener("click", function (e) {
         
            async function firstFunction(callback) {
                var portraitid = @Model.Portrait.Id;
                var url = `/Auktion/Auktionoffer?id=${portraitid}`
                var response = await fetch(url)
                    .then(response => {
                        return response.text();
                    }).then(data => {
                        offer = data;
                    })              

                callback();
            }

           function secondFunction() {
                var offerPrice;
                var faiz = $("#offervalue2formy").val();
                var portraitid = @Model.Portrait.Id;
                if (offer != 0) {
                    var decimalnumber = parseInt(offer) + parseInt(faiz);
                    offerPrice = parseInt(decimalnumber);

                }
                else {
                    offerPrice = @Model.Portrait.SalePrice + parseInt(faiz);

                }
                var name = $("#mysignalrinputname").val();


                connection.invoke("OfferForSale", name, offerPrice);

                var link = `/Auktion/Index?id=${portraitid}&&Offerprice=${offerPrice}`
                fetch(link)
                    .then(response => {
                        return response.text();
                    }).then(data => {

                    })
           }

            firstFunction(secondFunction);



           
            function delayedAction() {
                
                clearTimeout(timeoutId);

                timeoutId = setTimeout(() => {
                    document.getElementById("mysoldimageid").style.display="block";
                    document.getElementById("groupmessageinput").setAttribute('disabled', 'disabled');
                    document.getElementById("groupMessageSenderinmine").setAttribute('disabled', 'disabled');
                    document.getElementById("myportraitoffer").style.pointerEvents = "none";
                }, 10000);
            }

            delayedAction();
              
        })

        
        connection.on("OfferForAll", function (name, offerPrice) {
            var destination = document.getElementById("groupmessageinboxconfirm");
            destination.innerHTML += `   <div class="chat-message-center pb-4">
                                             <div style="text-align: center; background-color: #212529 !important; color:white;" class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                                <div class="font-weight-bold mb-1">${name}</div>
                                                          OFFER ${offerPrice}$ FOR THIS PORTRAIT !!
                                              </div>
                                         </div>
                                `
        })

    </script>
}