
@model HomeViewModel

@{
    var count = 0;
    var sum = 0;
}


    <main>
        <!-- SLIDER SECTION  -->
        <section>
            <div id="carouselWithCaptions" class="carousel slide slider-position headline" data-bs-ride="carousel">
                <!-- <ol class="carousel-indicators">
                  <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="0" class=""></li>
                  <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="1" class="active" aria-current="true"></li>
                  <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="2" class=""></li>
                </ol> -->
                <div class="carousel-inner">
                    @foreach (var item in Model.Sliders)
                    {
                        count++;
                        if (item.IsShow)
                        {
                            <div class="carousel-item @(count==1?"active":"")">
                                <img src="~/assets/images/@(item.Image)" class="d-block w-100 slide-images" alt="Slide 1">
                                <div class="carousel-caption d-none d-sm-block slide-text">
                                    <h5 class="slider-h5">@item.Title</h5>
                                    <p class="slider-p">@item.Text</p>
                                </div>
                            </div>
                        }
                       
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselWithCaptions" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselWithCaptions" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </section>


        <!-- PORTRESTS SECTION -->
        <section>
            <div id="myportretsections" class="row fix-row-x headline">
                @foreach (var item in Model.Portraits)
                {
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="card mx-3 cards-border portret-image-hover">
                        <a asp-controller="Portrait" asp-action="Detail" asp-route-id="@item.Id"><img src="~/Uploads/Portraits/@item.PortraitImages.FirstOrDefault(x=>x.ImageStatus==true).Image" class="card-img-top" alt="card-group-image"></a>
                        <a asp-controller="Portrait" asp-action="AddToWishList" asp-route-id="@item.Id" class="my-add-hover add-to-wishlist"><span>Add To Wish List</span></a>
                            <div class="card-body card-texts">
                                <h5 class="card-title">@item.Name</h5>
                                 @foreach (var item2 in item.PortraitCategories)
                                 {
                                  <small>@item2.Category.Name @(item.PortraitCategories.Count-1>sum?",":"")</small>
                                  sum++;
                                 }
                                @if (item.DiscountPercent > 0)
                                {
                                <p class="card-text card-prices"><s style="color:#818181;">$@item.SalePrice</s> $@(((item.SalePrice * (100 - item.DiscountPercent) / 100)).ToString("0.00"))</p>
                                }
                                else
                                {
                                <p class="card-text card-prices">$@item.SalePrice</p>
                                }
                            </div>
                        </div>
                    </div>
                    sum=0;
                }
            </div>
        </section>
        <!-- PARALLAX SECTION -->
        <section class="mt-5 headline">
            <div style="background-image: url(assets/images/pages-parallax-img-8a.jpg); min-height: 30rem; background-attachment: fixed;">
                <div class="home-parallax">
                    <h5>
                        LIKE TO ORDER SOMETHING?
                    </h5>
                    <p>
                        Order a poster from something thet you designed, or make a request to our artists
                    </p>

                    <div class="buttons">
                        <button class="blob-btn">
                            READ MORE
                            <span class="blob-btn__inner">
                                <span class="blob-btn__blobs">
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                </span>
                            </span>
                        </button>
                        <br />

                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <defs>
                                <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
        </section>
        <!-- PORTRESTS SECTION 2 -->
        <section class="mt-5">
            <div id="myportretsections2" class="row fix-row-x headline">
            @foreach (var item in Model.SecondPortraits)
            {
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="card mx-3 cards-border portret-image-hover">
                        <a asp-controller="Portrait" asp-action="Detail" asp-route-id="@item.Id"><img src="~/Uploads/Portraits/@item.PortraitImages.FirstOrDefault(x=>x.ImageStatus==true).Image" class="card-img-top" alt="card-group-image"></a>
                        <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                        <div class="card-body card-texts">
                            <h5 class="card-title">@item.Name</h5>
                            @foreach (var item2 in item.PortraitCategories)
                            {
                                <small>@item2.Category.Name @(item.PortraitCategories.Count - 1 > sum ? "," : "")</small>
                                sum++;
                            }
                            @if (item.DiscountPercent > 0)
                            {
                                <p class="card-text card-prices"><s style="color:#818181;">$@item.SalePrice</s> $@(((item.SalePrice * (100 - item.DiscountPercent) / 100)).ToString("0.00"))</p>
                            }
                            else
                            {
                                <p class="card-text card-prices">$@item.SalePrice</p>
                            }
                        </div>
                    </div>
                </div>
                sum = 0;
            }
            </div>
        </section>
    </main>


   